.filter-list-wrapper, 
.filter-list-wrapper-2, 
.filter-list-wrapper-3,
.filter-list-wrapper-4,
.filter-list-wrapper-5 {
    background: #fff; 
    display: none;
    height: 25em;
    overflow-y: scroll; 
    padding: .2em;
    position: absolute;
    right: 0;
    top: 0;
    translate: 0 3em;
    width: 100%;
    z-index: 10;

    &.wrap-x {
        height: 19em;
    }

    .empty {
        display: none;
        padding-block: 1em;

        center {
            h1 {
                display: block !important;
                font-size: large !important;
            }

            p {
                color: #666;
                font-size: larger !important;
                text-align: center;
            }

            svg {
                background: lighten($color: $Color-4, $amount: 6);
                border-radius: 5em;
                fill: darken($color: $Color-4, $amount: 20); 
                height: 5em;
                width: 5em;
                padding: .8em;
            }
        }
    }

    .filter-value, .filter-value-2, .filter-value-3, .filter-value-4, .filter-value-5 {
        border-bottom: 1px solid lighten($color: $Color-4, $amount: 5);
        cursor: pointer;
        padding: .2em;

        &:hover {
            h1, div {
                background-color: lighten($color: $Color-2, $amount: 66) !important;
            }
        }

        div {
            display: flex;
            justify-content: space-between;

            span {
                font-size: smaller;
            }
        }

        h1 {
            border: none !important;
            color: $Color-2 !important;
            font-size: small;
            font-weight: bold !important;
            margin: unset !important;
            padding: 0em !important;
        }
    }
}
