.Login {
    align-items: center;
    display: flex;
    display: none;
    height: 100vh;
    justify-content: center;

    .error {
        background: darken($color: $Color-4, $amount:  25);
        border-radius: .25em;
        color: #fff;
        display: none;
        padding: .5em;
    }

    .inner {
        background: rgb(0, 0, 0, .3); 
        border-radius: 0.5em; 
        padding: 1em;
        width: 27em;
        img {
            width: 100%;
        }

        button {
            background: $Color-2;
            border: none;
            border-radius: 0.3em;
            color: $Color-3;
            cursor: pointer;
            margin-block: 0.5em;
            padding: 1em 2em;

            &:hover {
                background-color: #111;
            }
        } 

        h1, h2 {
            font-size: big;
            text-align: center;
        }

        h1 { 
            color: #fff !important;
            font-size: 3em;
            font-weight: 900;
            padding: .2em;
        }

        h2 {
            color: #fff;
            font-size: 1.5em;
            font-weight: unset;
            padding-bottom: 2em;
        }
 
        input {
            background-color: unset;
            border: none;
            border-bottom:  1px solid lighten($color: $Color-1, $amount: 15);
            color: #fff;
            height: 3em;
            margin-block: 1em;
            outline: none;
            padding-inline: 1em;
            width: 100%;

            &:focus {
                border-bottom: 2px solid $Color-2;
            }
            
            &::placeholder {
                color: #fff;
            }
        }

        label {
            color: #fff;
            font-size: 1.5em;
        }

        svg {
            fill: $Color-4;
            width: 2em;
        }
    }
}

.company-logo {
    left: 1em;
    position: absolute;
    top: 1em;

    img {
        border-radius: .5em;
        width: 20em;
    }
}