* {
    box-sizing: border-box;
    font-family: poppins, "DM Sans", system-ui, -apple-system, sans-serif; 
    font-size: small;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
$Color-1: #777;
// $Color-2: #163e64;
// $Color-2: #50623A; 
$Color-2: #225f7d; 
$Color-3: #eee;
$Color-4: #ffcece;
$Color-5: #111;
$Color-6: #8cff9a;

::-webkit-scrollbar {
    background-color: none;
    width: .5em;
}
::-webkit-scrollbar-thumb {
    background-color: lighten($color: $Color-2, $amount: 10); 
}

body {
  overflow: hidden;
}

.Hide { display: none !important }
.Show { display: block !important }
.Flex { display: flex !important }
  
.error-x-wrapper {
    display: none;
    justify-content: center;
    margin-top: .5em;
    position: absolute;
    width: 100%;
    z-index: 100;

    .error-x {
        background-color: rgb(255, 58, 58);
        color: #fff;
        padding: 1em; 
    }
}
// ///////////////////
$size: 8px;
$border: 10px;
$green: #72ff7d;
$red: #ff4242;
$yellow: #ffda72;
$blue: #42e5ff;

.status-x {
  position: relative;
  display: inline-block;
  width: $size !important;
  height: $size;
  border-radius: 50%;
  margin: $border;
  translate: 0em -0.5em;

  &.docking, &.docking:before {
    background: #03AED2;
  }

  &.operation, &.operation:before {
    background: #A87676;
  }

  &.breakdown, &.breakdown:before {
    background: #da1e28;
  }

  &.maintenance, &.maintenance:before {
    background: #eee;
  }
  
  &.inspection, &.inspection:before {
    background: #ff832b;
  }
  
  &.bunkery, &.bunkery:before {
    background: #8a3ffc;
  }
  
  &.idle, &.idle:before, &.ready, &.ready:before {
    background: #52f781;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -($border / 2);
    top: -($border / 2);
    width: $size + $border;
    height: $size + $border;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
// ///////////////////
@import 'maps/_map1';
@import 'maps/_map2';
@import 'color-codes/_Code';
@import 'forms/_Filter';
@import 'contents/_Loader';
@import 'contents/_Loader2';
@import 'forms/_Form-1';
@import 'forms/_Delete';
@import 'forms/_ChartReport';
@import 'contents/_NoData';
@import '_Pagination';
@import '_Login';
@import '_Layout-2';
@import 'contents/_Vessels';
@import 'charts/_Chart-1';
@import 'charts/_Chart-2';
@import 'charts/_Chart-3';
@import 'charts/_Chart-4';
@import 'charts/_Chart-5';
@import 'charts/_Chart-6';
@import 'charts/_Diagram';
@import 'contents/_Availability';
@import 'contents/_Testimonials';
@import 'contents/_Operations';
@import 'contents/_Notifications';
@import 'contents/_ListComponent';
@import 'history/_History';
@import 'tooltips/_ToolTip';
@import 'location/_Location-1';
@import 'tanks/_Tanks';
@import 'portfolio/_Portfolio';
@import 'dashboard/_VesselSpotlight';
@import 'dashboard/_DailyReport';