.list-component { 
    background: rgba(0, 0, 0, .6);
    display: none;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 100;

    &.users {
        background: unset;
        border-left: 1px solid #c8e3f0;
        display: flex; 
        height: unset;  
        position: unset;  
        width: unset;  
        z-index: 100;
 
        .inner-x {
            height: unset;

            .list { 
                padding: unset;

                &:hover { 
                    background-color: unset;
                    border-left: 8px solid #fff !important;

                    .-x { 
                        strong span {
                         font-weight: 500;   
                        }
                    }
                }

                .inner { 
                    border-bottom: 1px solid #eee;
                    border-radius: unset;
                    justify-content: unset;
                    padding: unset;

                    &.delete-row {
                        border-bottom: 2px dashed #ddd;
                    }

                    strong {
                        font-size: x-small;
                        margin-right: unset;
                        width: 12em !important;

                        .action-x-add {
                            background-color: #f8fdf6;
                            color: #2ec100;
                        }

                        .action-x-delete {
                            background-color: #fffafa;
                            color: #ff5454;
                        }

                        .action-x-readonly {
                            background-color: #fcffeb;
                            color: #aac900;
                        }

                        .action-x-update {
                            background-color: #fafbff;
                            color: #1d41c3;
                        }

                        .add {
                            fill: #2ec100;
                        }

                        .delete {
                            fill: #ff5454;
                        }

                        .update {
                            fill: #1d41c3;
                        }

                        .group-name {  
                        } 

                        span {
                            padding: .2em;

                            svg {
                                width: 1.2em;
                            }
                        }
                    }
                }

                &:hover { 
                    border-left: 8px solid $Color-2; 
                    cursor: pointer;
 
                    .inner.-x { 
                        background-color: unset;
                    }
                }
            }
        }
    }
    
    .AddRankButton, .AddCompanyButton {
        background: darken($color: $Color-4, $amount: 20);
        border: none;
        border-radius: 0.1em;
        bottom: 1em;
        color: #eee;
        cursor: pointer;
        font-size: 2em;
        margin-block: 0.5em;
        padding: .2em 1em;
        position: absolute;
        right: 1em;
        z-index: 1;
    }

    .inner-x {
        background: #fff;
        overflow-y: scroll;
        position: relative;
        width: 50em;

        h2 {
            padding-left: 2em;
            img {
                left: 1em;
                position: absolute;
                width: 3em;
            }
        }
 
        .close-button-ranks, .close-button-companies, .close-button-testimonials { 
            background: #fff;
            border-radius: .1em;
            padding: .4em;
            position: absolute;
            right: 1em;
            top: 1em;
            z-index: 22;

            button {
                background-color: unset;
                border: none;
                color: red;
                cursor: pointer;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }

    &.testimonials {
        align-items: center;
        .inner-x {
            height: 80vh;
        }
    }
}