.dashboard {  
    background-color: darken($color: $Color-2, $amount: .5);
    &-inner {
        .board-1:first-of-type {
            table {
                td, th {
                    padding-inline: .75em;
                    color: #fff;
                }
            }
        }

        .board-1, .board-2, .board-3 {
            background-color: lighten($color: $Color-2, $amount: 1.5);
            color: #fff;
            display: flex;
            justify-content: space-between;
            margin: 1em;

            .div { 
                scrollbar-width: none; /* Hide scrollbar for Firefox */
                background-color: darken($color: $Color-2, $amount: 3);
                height: 20em;
                overflow-y: scroll;
                padding: 2em;
                position: relative;
                width: 32%;

                &.indicators {
                    overflow-y: scroll;
                    width: 32%;
                }

                br {
                    clear: both;
                }

                h1 {   
                    color: #fff;
                    font-size: 1.5em; 
                    font-weight: 500;
                    justify-content: space-between;
                    padding-inline: unset; 

                    span { 

                        select {
                            border: none;
                            border-radius: .1em;
                            background-color: darken($color: $Color-2, $amount: 8);
                            color: #fff;
                            outline: none;
                            padding: .2em .5em;
                            width: 8em;
                        }

                        button {  
                            background-color: darken($color: $Color-4, $amount: 25);
                            border: none;
                            border-radius: .25em;
                            color: #fff;
                            cursor: pointer; 
                            padding: .2em;
                            width: 4em;

                            &:hover {
                                background-color: #000;
                            }
                        }
                    }
                }

                h2 {
                    align-items: center;
                    display: flex;
                    font-weight: 100;
                    justify-content: space-between; 

                    span {
                        border-radius: .3em;
                        display: block;
                        padding: .35em;
                        
                        &:first-of-type { 
                            align-items: center; 
                            color: darken($color: $Color-6, $amount: 30);
                            display: flex;
                            font-weight: 500;
                            margin-right: 2em;
                            padding: 0.5em 1em 1em 1em;
                            
                            svg {
                                fill: darken($color: $Color-6, $amount: 15);
                                margin-right: .5em; 
                                translate: 0 .15em;
                                width: 1.65em;
                            }
                        }
                        
                        &:last-of-type {
                            background-color: $Color-2;
                            color: #fff;
                            font-weight: 500; 
                        }
                    }
                    
                }

                .indicators-wrapper {
                    display: flex;
                    justify-content: space-between;

                    .indicators {
                        &-inner {
                            width: 44%;

                            &-x {
                                align-items: center;
                                border-bottom: 1px solid lighten($color: $Color-2, $amount: 5);
                                cursor: pointer;
                                display: flex;
                                justify-content: space-between;
                                padding-block: .5em;

                                &:hover {
                                    background: lighten($color: $Color-2, $amount: 5);
                                    color: #ddd;
                                }

                                span {
                                    &:first-of-type { 
                                        height: 2em;
                                        width: 2em;
                                    } 
                                }

                            }
                        }
                    }
                }

                &.recent-workflow {
                    overflow-y: scroll;
                }

                strong { 
                    float: left;
                    font-size: 5em; 

                    &.total {
                        background: lighten($color: $Color-2, $amount: 5);
                        border-radius: .1em;
                        padding-inline: 0.2em;
                    }
                }
 
                .sub-heading {    
                    color: #eee;
                    display: block;
                    font-weight: 500;
                    overflow-wrap: anywhere;
                    padding-block: 0.5em;
                    text-align: left;
                    width: 100%;
                }

                svg {
                    fill: #eee;
                    width: 2.5em;
                }

                table {
                    position: absolute;
                    top: 10em;
                    right: .5em;

                    &.user-logins {
                        border-collapse: collapse;
                        text-align: left;
                        position: unset;
                        width: 100%;

                        tr {
                            &.history {
                                top: .2em;
                            }

                            border-bottom: 1px solid lighten($color: $Color-2, $amount: 5);

                            th {
                                background: $Color-2;
                                position: sticky;
                                top: -2.1em;
                            }

                            td, th {
                                padding: .5em;
                            }
                        }
                    }

                    td, th {
                        border-right: 1px solid $Color-2;
                        padding-right: 1em;
                    }
                }

                &.tracking {
                    padding-top: 0;
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    width: 66%;

                    table {
                        border-collapse: collapse;
                        color: #fff;
                        position: unset;
                        width: 100%;

                        .status {
                            height: 2em; 
                            position: relative;
                            width: 100%;   
                        }

                        td {
                            .flex {
                                display: flex;
                            }
                        }

                        td, th {
                            font-size: smaller;
                            font-weight: 500;
                            padding-block: .52em;
                            text-align: left;

                            &:first-of-type {
                                border-right: 1px solid lighten($color: $Color-2, $amount: 5);
                                width: 12em;
                            }
                        }

                        th {
                            background-color: darken($color: $Color-2, $amount: 3);
                            position: sticky;
                            top: -0.25em; 
                            z-index: 2;

                            &:first-of-type {
                                background-color: lighten($color: $Color-2, $amount: 5);
                            }
                        }

                        tr {
                            border-bottom: 1px solid lighten($color: $Color-2, $amount: 5);

                            &:hover {
                                background-color: lighten($color: $Color-2, $amount: 5);
                            }
                        }
                    }
                }
            }
        }

        .board-2 {
            .div {
                width: 49%;

                .canvas {
                    .inner-x { 
                        background-color: darken($color: $Color-2, $amount: 5);
                        border-bottom: 1px solid lighten($color: $Color-2, $amount: 5);
                        justify-content: left;

                        span {
                            &:first-of-type { 
                                margin-right: 1em;
                                width: 9em;
                            }
                        }
                    }
                }
            }
        }

        .board-3 {
            .div {
                background: unset;
                height: 20em;
                overflow-y: scroll;
                padding-top: 0;
                width: 100%;

                table {
                    border-collapse: collapse;
                    position: unset;
                    color: #fff;
                    text-align: left;
                    width: 100%;

                    td, th {
                        // border-bottom: 1px solid lighten($color: $Color-2, $amount: 11);
                        padding: .2em;
                    }
 
                    td {  
                        border-bottom: 1px solid lighten($color: $Color-2, $amount: 11);
                        padding-block: .5em;
                        color: #eee;
                        small {
                            font-size: x-small;
                        }
 
                        &.action {
                            background-color: darken($color: $Color-2, $amount: 15);
                            display: flex;
                        }

                        img {
                            cursor: pointer;
                            margin-right: 1em;
                            width: 1.2em;
                        }
                    }

                    th { 
                        background-color: $Color-2;
                        font-weight: 500;
                        padding: 0.5em 0;
                        position: sticky;
                        text-transform: uppercase;
                        top: -.2em;
                    }

                    tr {
                        &:hover {
                            background-color: darken($color: $Color-2, $amount: 5);
                        }
                    } 
                }
            }
        }

        .dashboard-heading {
            background-color: darken($Color-2, 5);
            color: #fff;
            font-size: 2em;
            font-weight: 700; 
            position: sticky;
            top: -0.5em;
            z-index: 100;

            svg {
                fill: #fff !important;
            }
        }

        h1 {
            align-items: center; 
            color: #222;
            display: flex;
            font-size: xx-large;
            padding: 0.5em;
            padding-left: 1em;  

            svg {  
                background-color: lighten($color: $Color-2, $amount: 5);
                border-radius: 0.4em;
                fill: $Color-5;
                padding: 0.5em;
                margin-right: 1em;
                width: 4em;

                &.-x {
                    cursor: pointer;
                    fill: #222;
                    height: 4em;
                    padding: 1em;
                    width: 5em;
                }
            }
        }
    }
}

@media (max-width: 1785px) {
    .dashboard {
        .board-3, .board-x {
            table {
                tr {
                    td, th {
                        font-size: .75em !important;
    
                        &.action {
                            width: 7em;
                        }
                    }
                }
            }
        }

        &-inner {
            h1 {
                svg.-x {
                    height: 3em;
                    width: 3em;
                } 
            }
        }
    }

    nav[role] span[aria-current] {
        margin-left: 1.5em;
    }

    .notifications {
        .list {
            .-x {
                .notification-wrapper {
                    width: 18em !important;
                }
            }
        }
    }
}


@media (max-width: 1440px) {
    .board-1 {
        display: none !important;
    }
}