.testimonial-content, .table-1 { 
    padding: 1em 2em;
    width: 83%;

    header {
        div {
            align-items: center;
            display: flex;
            justify-content: space-between;

            &.h-1 {  

                button {
                    background-color: darken($color: $Color-4, $amount: 20);
                    color: #fff;
                    border: none;
                    border-radius: 0.3em; 
                    cursor: pointer;
                    margin-block: 0.5em;
                    padding: 1em 2em;

                    &:hover {
                        background: #fff; 
                        color: $Color-5;
                    }
                }

                h1 { 
                    color: #fff;
                    font-size: 5em;
                    font-weight: 800;
                    padding-bottom: 0.075em;  
                }
            }

            &.h-2 { 
                background: darken($color: $Color-5, $amount: 3);
                display: none;
                padding: 1em;

                input {
                    background: darken($color: $Color-5, $amount: 0);
                    border-radius: 0.5em;
                    color: #fff;
                    border: none;
                    margin-block: 1em;
                    outline: none;
                    padding: 1em;
                    width: 60%;

                    &::placeholder {
                        color: #fff;
                    }
                }

                span {
                    align-items: center;
                    color: #fff;    
                    cursor: pointer;    
                    display: flex; 

                    img {
                        margin-right: 1em;
                        width: 2em;
                    }
                }
            }

            &.h-3 {
                background-color: darken($color: $Color-2, $amount: 11);
                justify-content: start;

                h2 { 
                    cursor: pointer; 
                    font-weight: 500;
                    margin-right: .5em;
                    padding-block: 0.5em;
                    translate: 0 0.25em;

                    &.active {
                        background-color: #fff;   
                        border-bottom: 2px solid darken($color: $Color-4, $amount: 25);
                        padding: 1em; 
                    }

                    &.inactive { 
                        background-color: darken($color: $Color-2, $amount: 11);
                        color: #fff; 
                        padding: 1em; 

                        &:hover { 
                            border-bottom: 2px solid darken($color: $Color-4, $amount: 20);
                        }
                    }
                }
            }
        }
    }

    .table {
        height: 63vh;
        padding-block: 2em;
        margin-top: 1em;
        overflow-y: scroll;

        table {  
            text-align: left;
            width: 100%;

            td, th { 
                background-color: darken($color: $Color-2, $amount: 10); 
                color: #fff;
                padding: 1em;  
                text-transform: uppercase;

                &.empty-list {
                    background-color: darken($color: $Color-2, $amount: 7) !important ;
                }

                &:hover {
                    background-color: darken($color: $Color-2, $amount: 7) !important ;
                }
            }

            th { 
                background-color: darken($color: $Color-2, $amount: 5);
                font-weight: unset;
                position: sticky;
                top: -2em;
            }

            tr {
                border: 1px solid #fff;
                border-bottom: 1px solid darken($color: $Color-5, $amount: 5);

                td {
                    &.data-x {  
                        border-bottom: 1px solid lighten($color: $Color-2, $amount: 3);

                        .sub-x {
                            align-items: center;
                            display: flex;
                            justify-content: space-between;

                            .\-1 {
                                background-color: darken($color: $Color-2, $amount: 5);
                                border-radius: 0.3em;
                                margin-block: 0.5em;
                                margin-right: 1em;
                                padding: 0.5em;
                            }

                            .\-2 {
                                translate: 0 -.6em;
                            }
                        }
                    }

                    &.action  {
                        background-color: darken($color: $Color-2, $amount: 15);
                    }

                    &:not(&.action)  {
                        background-color: darken($color: $Color-2, $amount: 11);
                    }

                    img {
                        cursor: pointer;
                        margin-right: 1em;
                        width: 1.65em;
                    }

                    &:hover {
                        background-color: #444;
                    }

                    .operation-working-periods {
                        height: 5em;
                        overflow-y: scroll;

                        span {
                            border-bottom: 1px solid $Color-2;
                            display: block;
                            padding: .3em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1785px) {
    .table {
        table {
            td, th { 
                padding: .5em !important;
            }
        }
    }
}