.chart-1 { 
    display: flex;
    width: 100%;

    .SelectPieData {
        border: none;
        background: #eee;
        width: 10em;
        outline: none;
        padding-block: .5em;
        margin-top: 1em;
        position: absolute;
        top: .5em;
    }

    #chart-wrap {
        background: #fff;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        margin: auto;
        max-width: 500px;
        padding: 2em;
        position: relative;
        width: 100%;
        
        .chart-tooltip {
            margin-left: 15px;
            position: absolute;
            z-index: 10;
            
            .chart-tooltip-wrap {
                background-color: #181818;
                border-radius: 10px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
                display: block;
                padding: .875rem;

                p {
                    color: #fff;
                    font-size: .875rem;
                    line-height: 1.75;
                    margin: 0;
                }
            }
        }
        
        svg {
            margin: auto;
        
            .text {
                fill: #fff;
                font-size: .875rem;
                text-anchor: middle;
            }
        }
        
        .legend {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
            margin: 2rem auto;
            width: 100%;

        .legend-group {
            align-items: center;
            display: flex;
            flex-basis: 100px;
            flex-direction: row;
            gap: 8px;
            justify-content: flex-start;
            
            .legend-box {
                color: #555;
                height: 20px;
                margin: 0;
                width: 20px;
            }
            
            .legend-label {
                margin: 0;
                }
            }
        }  
    }

    .chart-header {
        position: absolute;
        color: #fff;
        background: red;
        padding: 1em;
        top: 0.5em;
        z-index: 200;
    }

    .Close {
        color: red;
        cursor: pointer;
        font-size: 1.3em;
        font-weight: bold;
        position: absolute;
        right: 1.5em;
        top: 1em;
    }
}

  