.history {
    background-color: $Color-2;
    border: none !important;
    border-bottom: 2px solid #ff4f4f !important;
    position: sticky;
    top: 1.25em;

    td {
        display: block;
        font-size: .8em;
    }
}